body {
    margin: 0 auto;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.5;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    width: 100%;
    z-index: 3;
}

header img {
    height: 50px;
    margin: 10px;
}


li {
    margin: 0 10px;
    list-style: none;
    display: inline-block;
}

li a {
    color: seashell;
}

main {
    position: relative;
    top: 70px;
    overflow: auto;
}

article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.our-mission {
    width: 1200px;
    height: 700px;
    margin-bottom: 4rem;
    background-image: url('./resources/img/img-mission-background.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.our-mission-text {
    background-color: black;
    width: 100%;
}

h2, h4 {
    margin: 15px auto;
}

.tea-of-the-month {
    width: 1000px;
}

.gallery {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    display: flex;
    width: 100%;
    justify-content: center;
}

.img-txt-box img {
    margin: 0 25px;
    width: 300px;
    height: 200px;
}

.img-txt-box p {
    margin-top: 10px;
}

.locations {
    width: 1200px;
    height: 570px;
    margin: 3.5rem 2rem 0;
    background-image: url('./resources/img/img-locations-background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container {
    display: flex;
    width: 980px;
    height: 280px;
    justify-content: space-between;
    align-items: flex-end;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 280px;
    background-color: black;
    opacity: 1;
}

.contact {
    height: 200px;
    width: auto;
}

footer {
    position: relative;
    top: 6rem;
    margin: 20px;
    text-align: left
}